<section class="block container">
    <header class="block_header">
      <h2 class="block_heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
        necessitatibus!
      </p>
    </header>
    <div style="width: 30%; padding: 4rem">
      <div class="card card--primary">
        <header class="card_header">card title</header>
        <div class="card_body">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo,
          doloribus!
        </div>
      </div>
    </div>
  </section>
  <section class="block block--dark block--skewed-left">
    <div class="container">
      <h2 class="block_heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
        necessitatibus!
      </p>
    </div>
  </section>