<section class="block container">
  <header class="block_header">
    <h2>Host on the cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus,
      deserunt.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature_content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature_heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
        eveniet nostrum quae voluptatibus, fugit at eligendi porro temporibus
        libero tempore.
      </p>
      <a href="#" class="link_arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="Images/easy.webp 1x, Images/easy@2x.webp 2x"
      />
      <source
        type="image/jpeg"
        srcset="Images/easy.jpg 1x, Images/easy@2x.jpg 2x"
      />
      <img class="feature_image" src="Images/easy@2x.jpg" alt="Description" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature_content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature_heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
        eveniet nostrum quae voluptatibus, fugit at eligendi porro temporibus
        libero tempore.
      </p>
      <a href="#" class="link_arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="Images/Fast.webp 1x, Images/Fast@2x.webp 2x"
      />
      <source
        type="image/jpeg"
        srcset="Images/Fast.jpg 1x, Images/Fast@2x.jpg 2x"
      />
      <img class="feature_image" src="Images/fast@2x.jpg" alt="Description" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature_content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature_heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
        eveniet nostrum quae voluptatibus, fugit at eligendi porro temporibus
        libero tempore.
      </p>
      <a href="#" class="link_arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="Images/Wordpress.webp 1x, Images/Wordpress@2x.webp 2x"
      />
      <source
        type="image/jpeg"
        srcset="Images/Wordpress.jpg 1x, Images/Wordpress@2x.jpg 2x"
      />
      <img
        class="feature_image"
        src="Images/wordpress@2x.jpg"
        alt="Description"
      />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature_content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature_heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
        eveniet nostrum quae voluptatibus, fugit at eligendi porro temporibus
        libero tempore.
      </p>
      <a href="#" class="link_arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="Images/SUPPORT.webp 1x, Images/SUPPORT@2x.webp 2x"
      />
      <source
        type="image/jpeg"
        srcset="Images/SUPPORT.jpg 1x, Images/SUPPORT@2x.jpg 2x"
      />
      <img
        class="feature_image"
        src="Images/SUPPORT@2x.jpg"
        alt="Description"
      />
    </picture>
  </article>
</section>
