<footer class="block block--dark footer">
  <div class="container grid footer_sections">
    <section class="collapsible collapsible--expended footer_section">
      <header class="collapsible_header">
        <h2 class="collapsible_heading footer_heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible_chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="List">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer_section">
      <header class="collapsible_header">
        <h2 class="collapsible_heading footer_heading">COMPANY</h2>

        <svg class="icon icon--white collapsible_chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="List">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer_section">
      <header class="collapsible_header">
        <h2 class="collapsible_heading footer_heading">SUPPORT</h2>

        <svg class="icon icon--white collapsible_chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="List">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer_section">
      <header class="collapsible_header">
        <h2 class="collapsible_heading footer_heading">DOMAINS</h2>

        <svg class="icon icon--white collapsible_chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible_content">
        <ul class="List">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer_brand">
      <img src="./Images/logo.svg" alt="" />
      <p class="footer_copyright">Copyright 2020 Mosh Hamedani</p>
    </section>
  </div>
</footer>
